
//Fuentes
$fuenteHeading: 'PT Sans', sans-serif;
$fuenteParrafos: 'Open Sans', sans-serif;


//Colores
$primario: #784D3C;
$blanco: #fff;
$gris: #e1e1e1;
$negro: #000;
$rojo: #ff0000;
$cafeMasMasClaro: #98633E;

//Tamaños meda queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
