@use 'base/variables' as v;
@use 'base/mixins' as m;


.container-curso-destacado{
    margin: 5rem auto;
    max-width: min(90%, 160rem);
}

.curso-destacado{
    @include m.desktop {
        @include m.grid(2, 2rem);
    }
    
    background-color: v.$primario;
    
    h1 {
        @include m.desktop {
            font-size: 4rem;
        }

        margin: 0;
        font-size: 4rem;
        padding-bottom: 2rem;
    }

    p {
        @include m.desktop {
            margin-top: 0;
            font-size: 1.8rem;
            display: block;
        }

        display: none;
    }

    img{
        height: 100%;
    }
}

.main{
    margin: 5rem auto;
    max-width: 80%;
    text-align: center;
    margin-bottom: 5rem
}

.main-content{
    @include m.desktop {
        @include m.grid(2, 1rem);
    }
    background-color: v.$primario;
}

.main-text{
    @include m.desktop {
        padding: 2rem;
    }
    
    padding: 3rem;
    
    h3 {
        color: v.$blanco;
        text-align: center;
        font-size: 3rem;
        margin: 0;
        padding-bottom: 2rem;
      
        @include m.desktop {
            padding-bottom: 0;
        }
    }

    p {
        @include m.desktop {
            padding: 1rem;
            margin-top: 0;
            font-size: 1.8rem;
            display: block;
        }

        display: none;
    }
}

.button{
    display: inline-block;
    margin-top: 2rem;
    padding: 15px 36px;
    color: v.$blanco;
    border: none;
    background-color: v.$cafeMasMasClaro;
}